/* Thiết lập chung */
body {
    font-family: Arial;
    background: #f2f2f2;
}

/* Khung báo tường */
.baotuong {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 15px;
}

/* Tiêu đề */
.tieude {
    text-align: center;
}

.tieude h1 {
    color: red;
}

.tieude h3 {
    font-style: italic;
}

/* Lịch sử Đoàn TNCS Hồ Chí Minh */
.lichsu {
    background: #f9fff9;
    padding: 10px;
    border-left: 5px solid green;
}

.lichsu h2 {
    color: darkgreen;
}

/* Các mục nội dung */
.muc {
    margin-top: 20px;
}

.muc h2 {
    color: green;
}

.muc p {
    text-align: justify;
}

/* Góc ảnh + video */
.giaitri {
    margin-top: 20px;
}

.anh img {
    width: 45%;
    margin: 5px;
}
.caption {display: block; margin-top: 15px;}

/* Video */
video {
    width: 400px; 
    height: 250px;
}

/* Form phản hồi */
input, textarea {
    width: 50%;
    margin: 5px ;
}

/* Chân trang */
.footer {
    margin-top: 20px;
    background: #dddddd;
    padding: 10px;
    font-size: 12px;
}
